@model MovieApp.Entity.MovieModel
@{
    ViewData["Title"] = "UpdataeMovieDetails";
}


<a asp-action="ShowMovieDetails" asp-controller="Movie">Show-AllMovies</a>
<hr />
<h1>UpdataeMovieDetails</h1>
<hr />
<div class="container">
<form method="post">
    <div class="form-group">
        <label class="col-sm-3">MovieId</label>
        <input  type="text" class="form-control" asp-for="MovieId" disabled="disabled" />
    </div>
    <div class="form-group">
        <label class="col-sm-3">MovieName</label>
        <input  type="text" class="form-control" asp-for="MovieName" />
    </div>
    <div class="form-group">
        <label class="col-sm-3">MovieDescription</label>
        <input  type="text" class="form-control" asp-for="MovieDescription" />
    </div>
    <div class="form-group">
        <label class="col-sm-3">MovieType</label>
        <input  type="text" class="form-control" asp-for="MovieType" />
    </div>
    <div class="form-group">
        <label class="col-sm-3">MovieLanguage</label>
        <input  type="text" class="form-control" asp-for="MovieLanguage" />
    </div>
    <hr />
    <div class="form-group col-sm-3">
        <input type="submit" value="Update" class="btn btn-lg btn-block btn-primary"/>
    </div>
    <div>
         <input  type="button" value="Reset" class="btn-secondary"/>
    </div>
   
    <hr />
    @if(ViewBag.status=="Success")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
   else if(ViewBag.status=="Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>
</div>
